<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title th:text="${title}"></title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif;">
     <h2 th:text="${title}"></h2>
     <form th:action="@{/form}" th:object="${usuario}" method="post">
          <div>
               <label for="nombre">nombre </label>
               <input type="text"  id="nombre" th:field="*{nombre}">
               <div th:if="${#fields.hasErrors('nombre')}"></div>
                    <p th:errors="*{nombre}"></p>
               </div>
          </div>
          <div>
               <label for="apellido">apellido </label>
               <input type="text"  id="apellido" th:field="*{apellido}">
               <div th:if="${#fields.hasErrors('apellido')}"></div>
                    <p th:errors="*{apellido}"></p>
               </div>
          </div>
          <div>
               <label for="username">username</label>
               <input type="text" id="username" th:field="*{username}">
               <!-- <div th:if="${error != null && error.containsKey('username')}"> -->
               <div th:if="${#fields.hasErrors('username')}"></div>
                    <p th:errors="*{username}"></p>
               </div>
          </div>
          <div>
               <label for="password">password </label>
               <input type="password"  id="password" th:field="*{password}">
               <div th:if="${#fields.hasErrors('password')}"></div>
                    <p th:errors="*{password}"></p>
               </div>
          </div>
          <div>
               <label for="email">email </label>
               <input type="email" id="email" th:field="*{email}">
               <div th:if="${#fields.hasErrors('email')}"></div>
                    <p th:errors="*{email}"></p>
               </div>
          </div>
          <div>
               <input type="submit" value="Send">
          </div>
     </form>
</body>
</html>